<%= simple_form_for :player, url: target, method: method do |f| %>
  <% if player.errors.any? %>
    <% player.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <%= f.input :name, autofocus: true  %>
  <div class="center form-button-container">
    <%= f.button :button, 'save', type: "submit", class: "button round" %>
    <%= link_to 'cancel', target, class: "button round" %>
  </div>
<% end %>
