<div class="title">
  <h2>ping pong</h2>
</div>

<div class="list">
  <div class="list_item center">
    <h4>power rankings</h4>
  </div>

  <% @power_ranks.each do |player_name, rank| %>
  <div class="list_item center">
    <div class="power_ranking_name">
      <span><%= player_name %></span>
    </div>
    <div class="power_ranking">
      <span><%= '%.0f' % rank %></span>
    </div>
  </div>
  <% end %>
</div>

<div id="ping_pong_game_list">
  <div class="ping_pong_game_list_item center">
    <h4>recent games</h4>
  </div>
<% @ping_pong_games.each do |g| %>
  <div class="ping_pong_game_list_item" id="ping_pong_game_<%= g.id %>">
    <div class="ping_pong_game_date"><em><%= g.date.to_formatted_s(:rfc822) %></em></div>
    <div class="ping_pong_player_one_name"><span><%= g.player_one.name %></span></div>
    <div class="ping_pong_score">
      <div class="player_one_score"><span><%= g.player_one_score %></span></div>
      <div class="score_hyphen"><span>-</span></div>
      <div class="player_one_score"><span><%= g.player_two_score %></span></div>
    </div>
    <div class="ping_pong_player_two_name"><span><%= g.player_two.name %></span></div>
  </div>
<% end %>
<% if @ping_pong_games.none? %>
  <div class="center"><em>No games to show yet.</em></div>
<% end %>
</div>


<div class="list-button-container">
  <%= link_to 'new ping pong game', new_ping_pong_game_path, class: "button round" %>
</div>

